body {
  margin: 0;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

/* Header Section */

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
}

.logo {
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

nav {
  padding-right: 40px;
  display: flex;
  justify-content: flex-end;
}

nav span{
  display: inline-block;
  text-align: right;
  padding: 20px 10px;
}

nav span a {
  color: black;
}

/* Main Section */

.main {
  display: flex;
  margin: 0 auto;
  padding-top: 116px;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.stories {
  display: flex;
  justify-content: space-between;
}

.story {
  display: flex;
  flex-direction: column;
}

.left {
  width: 630px;
}

.middle {
  width: 300px;
}

.small {
  width: 240px;
}

/* Main Section - Image Boxes */

.image-content,
.story-image {
  display: flex;
  flex-direction: column;
  height: 300px;
  font-weight: bold;
  color: white;
}

.lead .image-content {
  background-image: url(../images/img-story-main.png);
}

.backwards {
  background-image: url(../images/img-story-2.png);
}

.camera {
  background-image: url(../images/img-story-3.png);
}

.cat {
  background-image: url(../images/img-story-1.png);
}

.story-image {
  font-size: 30px;
  justify-content: center;
  text-align: center;
}

.image-content {
  font-size: 40px;
}
